<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <ul>
            {% for i in data %}
                <li>{{ i.productname}} </li>
                <li>{{ i.details}} </li>
                <li>{{ i.price}} </li>

                <a href="{% url 'add__tocart' id=i.id %}" class="btn btn-primary">Add to Cart</a>

            {% endfor %}
        </ul>
    
    
</body>
</html>